<template class="js-options-template">
  <div class="options js-options">
    <div class="options__row">
      <div class="options__text-field js-options__text-field js-options__text-field_with_handler"></div>
      <div class="options__text-field js-options__text-field js-options__text-field_with_handler"></div>
    </div>
    
    <div class="options__row js-options__row_with_range">
      <div class="options__text-field js-options__text-field js-options__text-field_with_range"></div>
      <div class="options__text-field js-options__text-field js-options__text-field_with_range"></div>
    </div>
    
    <div class="options__row js-options__row_with_step-and-margin">
      <div class="options__text-field js-options__text-field js-options__text-field_with_step"></div>
      <div class="options__text-field js-options__text-field js-options__text-field_with_margin"></div>
    </div>
    
    <div class="options__button js-options__button js-options__button_toggle_orientation"></div>
    
    <div class="options__button js-options__button js-options__button_toggle_scale"></div>
    
    <div class="options__button js-options__button js-options__button_toggle_tooltips"></div>
    
    <div class="options__button js-options__button js-options__button_toggle_range"></div>
    
    <div class="options__switcher js-options__switcher js-options__switcher"></div>
  </div>
</template>