.options {
    display: grid;
    grid-auto-rows: max-content;
    grid-row-gap: 20px;
    justify-content: stretch;
    width: 100%;
}

.options__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}

.options__text-field {
    width: 100%;
}

.options__button {
    width: 100%;
    display: flex;
    justify-content: stretch;
}

.options__button .button {
    width: 100%;
}

.options__switcher .switcher {
    width: 100%;
}