.pure-slider-base {
    display: flex;
}

/* base */

.pure-slider-base__base {
    position: relative;
    display: grid;
    place-items: center;
}

.pure-slider-base__base_orientation_horizontal {
    width: 100%;
}

.pure-slider-base__base_orientation_vertical {
    height: 100%;
}

/* connect */

.pure-slider-base__connect {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.pure-slider-base__connect_orientation_horizontal {
    left: 0;
}

.pure-slider-base__connect_orientation_vertical {
    bottom: 0;
}

/* handler */

.pure-slider-base__handler {
    z-index: 2;
    position: absolute;
    display: grid;
    place-items: center;
    user-select: none;
    -webkit-user-drag: none;
}

/* tooltip */

.pure-slider-base__tooltip {
    display: none;
    position: absolute;
    user-select: none
}

.pure-slider-base__handler:active .pure-slider-base__tooltip,
.pure-slider-base__tooltip_shown {
    display: block;
}
