.pure-slider-theme {
    --base-background-color: #AAB7BF;
    --connect-background-color: #AD1D1D;
    --handler-background-color: #BFB1A8;
    --handler-border-color: #261201;
    --tooltip-background-color: #FFFFFF;
    --tooltip-border-color: #261201;
}

/* base */

.pure-slider-theme__base {
    background: var(--base-background-color);
    border-radius: 4px;
}

.pure-slider-theme__base_orientation_horizontal {
    height: 10px;
}

.pure-slider-theme__base_orientation_vertical {
    width: 10px;
}

/* connect */

.pure-slider-theme__connect {
    background: var(--connect-background-color);
    border-radius: 4px;
}


/* handler */

.pure-slider-theme__handler {
    width: 20px;
    height: 20px;
    background: var(--handler-background-color);
    border: 2px solid var(--handler-border-color);
    border-radius: 40%;
    cursor: pointer;
}

/* tooltip */

.pure-slider-theme__tooltip {
    padding: 5px 10px;
    border: 1px solid var(--handler-border-color);
    border-radius: 4px;
    background: var(--tooltip-background-color);
    white-space: nowrap;
    font-style: italic;
    cursor: auto;
}

.pure-slider-theme__tooltip_orientation_horizontal {
    bottom: calc(100% + 15px);
}

.pure-slider-theme__tooltip_orientation_vertical {
    left: calc(100% + 15px);
}