* {
    box-sizing: border-box;
}

:root {
    --font-color: #261201;
    --background-color: #F1F1F1
}

body {
    color: var(--font-color);
    background: var(--background-color);
}

.demo-page {
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
}

.demo-page__heading {
    margin: 0;
    padding: 0 0 100px;
}

.demo-page__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content repeat(auto-fill, max-content);
    grid-gap: 30px;
}

/* block */

.block {
    position: relative;
    display: grid;
    grid-auto-rows: max-content 300px max-content;
    row-gap: 30px;
    place-items: center;
    width: 100%;
    padding: 30px 20px 30px;
    border-width: 1px;
    border-style: solid;
    border-color: #261201;
    border-radius: 8px;
}

.block__label {
    position: absolute;
    bottom: calc(100% - 10px);
    left: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--background-color);
}

.block__description {
    font-size: 16px;
    font-style: italic;
}

/* options */

.options {
    display: grid;
    grid-auto-rows: max-content;
    grid-row-gap: 20px;
    justify-content: stretch;
    width: 100%;
}

.options__row {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 20px;
}

/* text-field */

.text-field__input {
    width: 100%;
}

/* checkbox */

.checkbox {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: space-between;
    cursor: pointer;
}

.checkbox__input {
    cursor: pointer;
}