* {
    box-sizing: border-box;
}

:root {
    --font-color: #261201;
    --background-color: #F1F1F1
}

body {
    color: var(--font-color);
    background: var(--background-color);
}

.demo-page {
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
}

.demo-page__heading {
    margin: 0;
    padding: 0 0 100px;
}

.demo-page__content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: max-content repeat(auto-fill, max-content);
    grid-gap: 100px;
}

.demo-page__examples {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.example {
    position: relative;
    display: grid;
    grid-auto-rows: max-content 1fr;
    row-gap: 30px;
    align-items: center;
    width: 100%;
    min-height: 200px;
    padding: 30px 20px 30px;
    border-width: 1px;
    border-style: solid;
    border-color: #261201;
    border-radius: 8px;
}

.example__label {
    position: absolute;
    bottom: calc(100% - 10px);
    left: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--background-color);
}

.example__description {
    font-size: 16px;
    font-style: italic;
}

.example:nth-child(3) {
    grid-column: 2;
    grid-row: 1/3;
    align-items: stretch;
}